<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/form.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">article</a></li>
          <li><a href="/admin/add-article">Add Article</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <form
        class="form"
        action="/admin/<% if (editing) { %>edit-article<% } else { %>add-article<% } %>"
        method="POST"
      >
        <div class="formItem">
          <label for="title">Article Title</label>
          <input
            type="text"
            name="title"
            id="title"
            value="<% if (editing) { %><%= article.title %><% }%>"
          />
        </div>
        <div class="formItem">
          <label for="description">Description</label>
          <textarea name="description" id="description" cols="30" rows="10">
<% if (editing) { %><%= article.description %><% }%></textarea
          >
        </div>
        <div class="formItem">
          <label for="author">Author</label>
          <input
            type="text"
            name="author"
            id="author"
            value="<% if (editing) { %><%= article.author %><% }%>"
          />
        </div>
        <!-- <div class="formItem">
          <label for="date">Date</label>
          <input
            type="date"
            name="date"
            id="date"
            value="<% if (editing) { %><%= article.date %><% }%>"
          />
        </div> -->
        <% if (editing) { %>
        <input type="hidden" value="<%= article.id %>" name="articleId" />
        <% } %>
        <button class="btn" type="submit">
          <% if(editing) { %> Update Article <% } else {%> Add Article <% } %>
        </button>
      </form>
    </main>
  </body>
</html>
